/***     login/home/header nice can be published for all   */

    @media screen and (max-width: 718px) {
        .title_company{
            visibility:hidden;
            display : none;
            width: 0px !important;
            height: 0px !important;
        }
    }

    @media screen and (max-width: 730px) {
        .title_company_user {
            visibility:hidden;
            display : none;
            width: 0px !important;
            height: 0px !important;
        }

    } 

    @media screen and (max-width: 1000px) {
        .calendar_bloc_g{
           display:none;
           visibility:hidden;
           width: 0px !important;
           height: 0px !important;
        }
    }

    .calendar_bloc_g {
            height: 96px;
            background-image: url(../../lib/images/calendar_school.png);
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: 10px 10px;
            padding-top: 23px;
            font-family: saharat;
            font-size: 14px;
            font-weight: bold;
            width: 135px;
            float: left;
            margin-top: -4px;
    }

    .calendar_year {
        text-align: center;
        color: #09709c;
        font-family: digi, Montserrat !important;
        font-weight: normal !important;
        font-size: 14px !important;
        margin-left: -32px !important;
        margin-top: 11px !important;
    }
    
    .calendar_day {
        height: 60px;
        text-align: center;
        color: #0670bb !important;
        font-family: title, courrier, arial, rgt;
        font-weight: normal !important;
        font-size: 12px !important;
        padding-top: 0px!important;
        line-height: 13px;
    }
    
    span.dday {
        font-size: 12px;
        font-family: digi, Montserrat !important;
        background-color: #0670bb !important;
        padding: 0px 3px !important;
        color: white !important;
    }

.icon-388:before {
    content: "\f03e";
}

.body_form_hzm.body_form_workflowfi {
    min-height: 900px !important;
}

.body_form_hzm.body_form_workflowfi>.in-group-default_fg.cssgroup_none {
    height: 100% !important;
    min-height: 1000px;
}

.body_form_hzm.body_form_workflowfi>.in-group-default_fg.cssgroup_none>div#group_default_fg {
    display: block;
    height: 100%;
    min-height: 1000px;
}

.download-jpeg, .download-jpg, .download-png {
    background-image: url(../../lib/images/camera.png);
    background-size: 40%;
    background-position-y: 0px;
}

.hzm_data.hzm_data_preview.form-control.inputreadonly {
    min-height: 400px;
}

.window.module {
            background-color: #076066;
            color: wheat;
            width: 6em;
            height: 150px;
            padding: 15px;
            line-height: 22px;
}

.window.model {
    background-color: #670dd7;
    color: wheat;
}

span.count.app.model {
    background-color: #9855eb;
}


.window.stage {            
    background-color: #309607;
    color: rgb(255, 255, 255);
}

span.count.app.stage {
    background-color: #1d5806;
}

.window.status {
    background-color: #0e5ec7;
    color: rgb(255, 255, 255);
}

span.count.app.status {
    background-color: #09418b;
}

.window.action {
    background-color: rgb(221 151 23);
    color: rgb(255, 255, 255);
}

span.count.app.action {
    background-color: rgb(141, 95, 10);
}