/***     login/home/header nice can be published for all   */

@media screen and (max-width: 718px) {
    .title_company {
        visibility: hidden;
        display: none;
        width: 0px !important;
        height: 0px !important;
    }
}

@media screen and (max-width: 730px) {
    .title_company_user {
        visibility: hidden;
        display: none;
        width: 0px !important;
        height: 0px !important;
    }

}

@media screen and (max-width: 1000px) {
    .calendar_bloc_g {
        display: none;
        visibility: hidden;
        width: 0px !important;
        height: 0px !important;
    }
}

.calendar_bloc_g {
    height: 96px;
    background-image: url(../../lib/images/calendar_school.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 10px 10px;
    padding-top: 23px;
    font-family: saharat;
    font-size: 14px;
    font-weight: bold;
    width: 135px;
    float: left;
    margin-top: -4px;
}

.calendar_year {
    text-align: center;
    color: #09709c;
    font-family: digi, Montserrat !important;
    font-weight: normal !important;
    font-size: 14px !important;
    margin-left: -32px !important;
    margin-top: 11px !important;
}

.calendar_day {
    height: 60px;
    text-align: center;
    color: #0670bb !important;
    font-family: title, courrier, arial, rgt;
    font-weight: normal !important;
    font-size: 12px !important;
    padding-top: 0px !important;
    line-height: 13px;
}

span.dday {
    font-size: 12px;
    font-family: digi, Montserrat !important;
    background-color: #0670bb !important;
    padding: 0px 3px !important;
    color: white !important;
}

.icon-388:before {
    content: "\f03e";
}

.body_form_hzm.body_form_workflowfi {
    min-height: 900px !important;
}

.body_form_hzm.body_form_workflowfi>.in-group-default_fg.cssgroup_none {
    height: 100% !important;
    min-height: 1000px;
}

.body_form_hzm.body_form_workflowfi>.in-group-default_fg.cssgroup_none>div#group_default_fg {
    display: block;
    height: 100%;
    min-height: 1000px;
}

.download-jpeg,
.download-jpg,
.download-png {
    background-image: url(../../lib/images/camera.png);
    background-size: 40%;
    background-position-y: 0px;
}

.hzm_data.hzm_data_preview.form-control.inputreadonly {
    min-height: 400px;
}

.window.module {
    background-color: #076066;
    color: wheat;
    width: 6em;
    height: 150px;
    padding: 15px;
    line-height: 22px;
}

.window.model {
    background-color: #670dd7;
    color: white;
    width: 7em;
    height: 190px;
    padding: 15px 5px;
    line-height: 22px;
}

span.count.app.model {
    background-color: #9855eb;
}


.window.stage {
    background-color: #309607;
    color: white;
    width: 7em;
    height: 200px;
    padding: 15px;
    line-height: 22px;
}

span.count.app.stage {
    background-color: #1d5806;
}

.window.status {
    background-color: #0e5ec7;
    color: rgb(255, 255, 255);
}

span.count.app.status {
    background-color: #09418b;
}

.window.action {
    background-color: rgb(221 151 23);
    color: rgb(255, 255, 255);
}

span.count.app.action {
    background-color: rgb(141, 95, 10);
}

.hzm-info {
    margin: 20px 10%;
}

.workflow-title.hzm-info {
    font-size: 18px;
    border: 1px solid #047e7a;
    padding: 8px;
    background-color: #dbf7facc;
    color: #047e7a;
    margin-top: 50px;
}

.workflow-information.hzm-info {
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    border: solid 4px #b9dfe245;
    background-color: #b3dee20d;
}

.hzm-icon-inbox {
    font-family: FontAwesome;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-size: 24px;
    color: #047e7a;
    margin-left: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hzm-icon-inbox:before {
    content: "\f01c";
}

div.wcategory {
    background-color: #009688;
    color: white;
    padding: 11px;
}

span.wrinfo {
    background-color: #e2ec23;
    color: black;
    padding: 3px 6px;
    float: left;
    margin-top: -2px;
}

span.idn {
    background-color: #e2ec23;
    padding: 3px 5px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

span.fstatus {
    background-color: #fffffb;
    padding: 3px 9px;
    color: black;
    padding: 4px 9px 5px;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

span.fstatus.st22 {
    background-color: #ff3d3d;
    color: white;
}

.wcomments {
    background-color: #fff;
    color: #0f0f0f;
    float: right;
    width: 100%;
    padding: 5px;
}

.wcomments .form-control {
    border-color: #5b5b5b33 !important;
    color: black;
}

.comment {
    padding: 0 5px 10px 0;
    margin-bottom: 10px;
    float: right;
    width: 100%;
}

.subject {
    padding: 8px;
}

.ppsave {
    text-align: center;
    padding: 10px;
}

.wcomments>label {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: menu;
    font-size: 16px !important;
}

.popup-save.greenbtn {
    border: 1px solid rgb(32 185 38) !important;
    color: rgb(255 255 255) !important;
    background-color: rgb(32 185 38) !important;
    border-color: rgb(32 185 38) !important;
}

/******************   PREVILEGES ***************************/

div#fg-privilegeCode {
    float: right;
    width: 100% !important;
    direction: ltr;
    padding-left: 20px;
}

div#div_data_privilegeCode {
    width: 100%;
    overflow: scroll;
    min-height: 400px;
    padding-left: 10px !important;
}

ul.code.php {
    padding-left: 33px;
    width: 100% !important;
}

ul.code>li {
    display: inline-block;
    margin-left: 10px;
    width: 100%;
    border-bottom: 1px dashed silver;
}

code>p {
    direction: ltr;
    text-align: left;
    background-color: aliceblue;
}

code>p>i {
    color: green;
    background-color: lightcyan;
    padding: 2px 7px;
}

th.col-importance-small.th-request_comment_subject_id {
    width: 120px;
}

th.col-importance-small.th-workflow_stage_id {
    width: 120px;
}

th.col-importance-small.th-comment_date {
    width: 120px;
}

/******************   PREVILEGES END ***************************/

#header_group_formComments {
    margin-top: 260px;
}