/***     login/home/header nice can be published for all   */

@media screen and (max-width: 718px) {
    .title_company {
        visibility: hidden;
        display: none;
        width: 0px !important;
        height: 0px !important;
    }
}

@media screen and (max-width: 730px) {
    .title_company_user {
        visibility: hidden;
        display: none;
        width: 0px !important;
        height: 0px !important;
    }

}

@media screen and (max-width: 1000px) {
    .calendar_bloc_g {
        display: none;
        visibility: hidden;
        width: 0px !important;
        height: 0px !important;
    }
}

.calendar_bloc_g {
    height: 96px;
    background-image: url(../../lib/images/calendar_school.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 10px 10px;
    padding-top: 23px;
    font-family: saharat;
    font-size: 14px;
    font-weight: bold;
    width: 135px;
    float: left;
    margin-top: -4px;
}

.calendar_year {
    text-align: center;
    color: #09709c;
    font-family: digi, Montserrat !important;
    font-weight: normal !important;
    font-size: 14px !important;
    margin-left: -32px !important;
    margin-top: 11px !important;
}

.calendar_day {
    height: 60px;
    text-align: center;
    color: #0670bb !important;
    font-family: title, courrier, arial, rgt;
    font-weight: normal !important;
    font-size: 12px !important;
    padding-top: 0px !important;
    line-height: 13px;
}

span.dday {
    font-size: 12px;
    font-family: digi, Montserrat !important;
    background-color: #0670bb !important;
    padding: 0px 3px !important;
    color: white !important;
}


.body_form_hzm.body_form_workflowfi {
    min-height: 900px !important;
}

.body_form_hzm.body_form_workflowfi>.in-group-default_fg.cssgroup_none {
    height: 100% !important;
    min-height: 1000px;
}

.body_form_hzm.body_form_workflowfi>.in-group-default_fg.cssgroup_none>div#group_default_fg {
    display: block;
    height: 100%;
    min-height: 1000px;
}

.download-jpeg,
.download-jpg,
.download-png {
    background-image: url(../../lib/images/camera.png);
    background-size: 40%;
    background-position-y: 0px;
}

.hzm_data.hzm_data_preview.form-control.inputreadonly {
    min-height: 400px;
}

.window.module {
    background-color: #076066;
    color: wheat;
    width: 6em;
    height: 150px;
    padding: 15px;
    line-height: 22px;
}

.window.model {
    background-color: #670dd7;
    color: white;
    width: 7em;
    height: 190px;
    padding: 15px 5px;
    line-height: 22px;
}

span.count.app.model {
    background-color: #9855eb;
}


.window.stage {
    background-color: #309607;
    color: white;
    width: 7em;
    height: 200px;
    padding: 15px;
    line-height: 22px;
}

span.count.app.stage {
    background-color: #1d5806;
}

.window.status {
    background-color: #0e5ec7;
    color: rgb(255, 255, 255);
}

span.count.app.status {
    background-color: #09418b;
}

.window.action {
    background-color: rgb(221 151 23);
    color: rgb(255, 255, 255);
}

span.count.app.action {
    background-color: rgb(141, 95, 10);
}

.hzm-info {
    margin: 20px 10%;
}

.workflow-title.hzm-info {
    font-size: 18px;
    border: 1px solid #047e7a;
    padding: 8px;
    background-color: #dbf7facc;
    color: #047e7a;
    margin-top: 50px;
}

.workflow-information.hzm-info {
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    border: solid 4px #b9dfe245;
    background-color: #b3dee20d;
}

.hzm-icon-inbox {
    font-family: FontAwesome;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-size: 24px;
    color: #047e7a;
    margin-left: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hzm-icon-inbox:before {
    content: "\f01c";
}

div.wcategory {
    background-color: #009688;
    color: white;
    padding: 11px;
}

span.wrcandinfo {
    background-color: #e2ec23;
    color: black;
    padding: 3px 6px;
    float: right;
    margin-top: -2px;
}


span.wremplinfo {
    background-color: #63f8f8;
    color: black;
    padding: 3px 6px;
    float: left;
    margin-top: -2px;
}




span.idn {
    background-color: #e2ec23;
    padding: 3px 5px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

span.fstatus {
    background-color: #fffffb;
    padding: 3px 9px;
    color: black;
    padding: 4px 9px 5px;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

span.fstatus.st22 {
    background-color: #ff3d3d;
    color: white;
}

.wcomments {
    background-color: #fff;
    color: #0f0f0f;
    float: right;
    width: 100%;
    padding: 5px;
}

.wcomments .form-control {
    border-color: #5b5b5b33 !important;
    color: black;
}

.comment {
    padding: 0 5px 10px 0;
    margin-bottom: 10px;
    float: right;
    width: 100%;
}

.subject {
    padding: 8px;
}

.ppsave {
    text-align: center;
    padding: 10px;
}

.wcomments>label {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: menu;
    font-size: 16px !important;
}

.popup-save.greenbtn {
    border: 1px solid rgb(32 185 38) !important;
    color: rgb(255 255 255) !important;
    background-color: rgb(32 185 38) !important;
    border-color: rgb(32 185 38) !important;
}

/******************   PREVILEGES ***************************/

div#fg-privilegeCode {
    float: right;
    width: 100% !important;
    direction: ltr;
    padding-left: 20px;
}

div#div_data_privilegeCode {
    width: 100%;
    overflow: scroll;
    min-height: 400px;
    padding-left: 10px !important;
}

ul.code.php {
    padding-left: 33px;
    width: 100% !important;
}

ul.code>li {
    display: inline-block;
    margin-left: 10px;
    width: 100%;
    border-bottom: 1px dashed silver;
}

code>p {
    direction: ltr;
    text-align: left;
    background-color: aliceblue;
}

code>p>i {
    color: green;
    background-color: lightcyan;
    padding: 2px 7px;
}

th.col-importance-small.th-request_comment_subject_id {
    width: 120px;
}

th.col-importance-small.th-workflow_stage_id {
    width: 120px;
}

th.col-importance-small.th-comment_date {
    width: 120px;
}

/******************   PREVILEGES END ***************************/

#div_data_formComments {
    padding: 35px !important;
    border: 6px double gray !important;
}


/* إدارة المحتوى - Content Management */
.icon-395:before {
    content: "\f0e0";
    /* f13b */
}

/*  الإعدادات - Settings */
.icon-400:before {
    content: "\f085";
}


/*   - Notifications - الإشعارات */
.icon-399:before {
    content: "\f0f3";
}

/*   Requests - الطلبات  */
.icon-403:before {
    content: "\f256";
}

/* Permissions - الصلاحيات */
.icon-402:before {
    content: "\f084";
}

/* Inquiries - الاستفسارات */
.icon-401:before {
    content: "\f0b0";
}

/* work organization - تنظيم العمل - */
.icon-393:before {
    content: "\f085";
}


/*   - Lookup Tables - جداول التعريف */
.icon-392:before {
    content: "\f03a";
}

.icon-388:before {
    content: "\f03e";
}

.icon-397::before {
    content: "\f0c0";
}

/*****     start of upload files css   *********************/

.hzm_data_dragDropDiv {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    padding: 0px;
    margin: 15px;
    float: right;
}

.drop_help {
    background-color: #d1eefc52 !important;
    border: 1px #6ac8e7 solid;
    padding: 9px !important;
    width: 100%;
    float: right;
    line-height: 22px;
}

.drop_help_items {
    padding: 9px !important;
    background-color: #ffffff !important;
    margin-bottom: 15px;
    float: right;
    border: 1px silver solid;
    width: 100%;
}

.drop_help_categs {
    background-color: #eefacb75 !important;
    padding: 9px !important;
    width: 100%;
    float: right;
    border: 1px silver solid;
}

.certiftp {
    width: 18%;
    min-width: 200px;
    height: 42px;
    background-color: #efefef;
    border: 1px silver solid;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 10px;
}

.certiftp a {
    float: right;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.certiftp.current {
    background-color: #0b90dd !important;
    border: 1px #2966a9 solid;
    color: white;
}

.certiftp.current a {
    color: white;
}



#drop {
    background-color: #eefacb75 !important;
    padding: 20px !important;
    border-image: url(../pic/border-import.png) 25 repeat !important;
    float: right;
    width: 100%;
}

#drop a {
    background-color: #5db70a !important;
    font-size: 93% !important;
}

#upload {
    background-color: #eeeeee63 !important;
    width: 100% !important;
    height: 95% !important;
    padding: 9px !important;
    border-radius: 0px !important;
    margin: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
    float: right;
}

#upload ul {
    list-style: none;
    margin: 0 0px !important;
    border-top: 1px dashed #72c427 !important;
    border-bottom: 1px #72c427 !important;
    float: right;
    width: 100%;
    padding: 0px !important;
}

#upload ul li {
    background-color: #FEFEFF;
    border-top: 1px dashed #72c427 !important;
    border-bottom: 1px #72c427 !important;
    padding: 6px;
    height: 75px;
    position: relative;
    direction: ltr;
}

#upload ul li p {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    font-weight: normal;
    font-size: 85%;
    position: absolute;
    top: 20px;
    left: 100px;
    text-align: left;
}

.certiftp.not_mandatory {
    border: 2px #000 solid !important;
}

.certiftp.is_mandatory.todo_categ {
    border: 2px red solid !important;
}

.certiftp.is_mandatory.done_categ {
    border: 2px green solid !important;
}

.certiftp.current.is_mandatory.todo_categ {
    border: 2px #166ab7 solid !important;
}

.drop_hint {
    padding-top: 10px;
    font-size: 85%;
    color: green;
    font-weight: bold;
}

.drop_categ_desc {
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    color: #d86711;
    background-color: #fdfbbab8;
    border: 1px #d86711 solid;
    margin-bottom: 5px;
}

/*****     end of upload files css   *********************/

div#fg-applicationWarningDiv {
    min-height: 0;
}

div#fg-desiresLimitWarningDiv {
    min-height: 0;
}